.wordLetters{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: black;
    margin: 5%;
    padding: 10px;
    border: 2px solid rgb(255, 251, 0);
}

.word{
    background-color: white;
    padding: 0 12px;
    margin: 5px;
    width: 10px;
}

.opacity0{
    opacity: 0;
}

.mb1{
    margin-bottom: 20px;
}
input{
    height: 100%;
    width: 50px;
    margin-right: 10px;
    font-size: 30px;
    text-align: center;
}